.home{
display: grid;
grid-template-rows: 10% 90%;
height: 100vh;
align-items: center;
justify-content: center;
}

.center-header{
padding-bottom: calc(100vh * 0.1);
}

.header-text{
grid-column: 1 / span 5;
display: flex;
flex-direction: column;
justify-content: center;
}

.button-header{
color: var(--button-text);
margin-top: 20px;
background-color: var(--button-color);
font-weight: 700;
border: none;
border-radius: 5px;
font-size: 24px;
padding: 5px;
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
text-align: center;
transition-duration: 0.5s;
}

.button-header:hover{
  opacity: 0.7;
}

.image-guitar{
grid-column: 6 / span 5;
display: flex;
justify-content: center;
}

#guitar{
width: 540px;
}

.navbar-sticky > ul{
  position: fixed;
  display: flex;
  text-decoration: none;
  justify-content: center;
  width: 100%;
  background-color: var(--button-alter);
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-sticky > ul > li{
  display: flex;
}

.navbar-sticky > ul > li > a{
  font-weight: 700;
  font-size: 16px;
  padding: 10px 30px;
  color: var(--text-color);
  transition-duration: 0.2s;
}

.navbar-sticky > ul > li > a:hover{
  color: var(--button-text);
}

#mobileMenu{
  display: none;
  align-items: center;
  padding: 5px 10px;
}

#mobileMenu > svg{
  font-size: 22px;
}

.not-show{
  display: none;
}

@media screen and (max-width: 1090px) {
  .home{
    display: block;
    text-align: center;
    height: max-content;
    padding-top: 30px;
  }

  .header-text{
    margin-top: 20px;
  }
  .navbar{
    margin-top: 20px;
  }
  #guitar{
    width: 90%;
  }
}
@media screen and (max-width: 800px){
  #mobileMenu{
    display: block;
  }

  .navbar{
    margin-top: 5px;
    margin-left: 5px;
  }

  .navbar > ul {
    display: none;
  }

  .navbar-sticky{
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: var(--button-color);
    top: 5px;
    left: 5px;
    border-radius: 5px;
  }

  .navbar-sticky > ul{
    display: none;
  }
  
  .navbar-sticky-active {
    position: fixed;
    background-color: var(--button-alter);
    top: 0;
    left: 0;
    height: 100%;

  }

  .navbar-sticky-active > #mobileMenu{
    padding: 5px;
    text-align: end;
  }

  .navbar-sticky-active > ul{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 30px;
    text-align: start;
    
  }

  .navbar-sticky-active > ul > li > a{
    font-weight: 700;
    font-size: 16px;
    color: var(--text-color);
    padding: 0px 20px;
  }
}