.navbar{
    width: max-content;
    margin: 0 auto;
    text-decoration: none;
    background-color: var(--button-alter);
    border-radius: 5px;
    padding: 8px 0px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}
.navbar > li{
    display: inline-block;
}

.navbar > li > a{
    font-weight: 700;
    font-size: 18px;
    padding: 8px 30px;
    color: var(--text-color);
}

.navbar-sticky{
    position: fixed;
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 100%;
    background-color: var(--button-alter);
    border-radius: 5px;
    padding: 8px 0px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-sticky > li > a{
    font-weight: 700;
    font-size: 18px;
    padding: 8px 30px;
    color: var(--text-color);
}