#beneficios{
    padding: 60px;
    align-items: start;
    justify-content: center;
}

.beneficios-row-2{
    grid-column: 2 / span 8;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.beneficios-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 430px;
    border: 1px solid var(--button-color);
    border-radius: 5px;
    padding: 20px;
    gap: 10px;
    margin: 0 auto;
    transition-duration: 0.5s;
}

.beneficios-box:hover{
    transform: scale(1.02);
}

@media screen and (max-width:1090px){
    #beneficios{
        padding: 60px 0px;
    }
}